 <!-- form handling -->
 <form action="/api/course" method="POST" id="add_course">
    <div class="new_course">
        <div class="form-group">
            <label for="name" class="text-light">course Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="css">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">course duration</label>
            <input type="text" name="email" value="" placeholder="6hr">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">course fees</label>
            <input type="text" name="email" value="" placeholder="600">
        </div>
            

       
           

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>